.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height: 600px;
    margin-left: 40%;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid button{
    width: 100px;
    height: 100px;
    font-size: 20px;
    background-color: #f1f1f1;
    border: 1px solid #000;
}